.icon {
    font-family: "SF Pro Display", "SF Pro Rounded";
    font-weight: 400;
    line-height: 20px;
    font-size: 190%;
    font-style: normal;
    &.trophy::after {
      content: "􀑉"
    }
    &.home::after {
      content: "􀎞"
    }
    &.snow::after {
      content: "􀇥"
    }
    &.wind-snow::after {
      content: "􀇦"
    }
    &.logout::after {
      content: "􀄪"
    }
    &.arrow-right-circle::after {
      content: "􀁼"
    }
    &.arrow-right-circle-filled::after {
      content: "􀁽"
    }
    &.arrow-left-circle::after {
      content: "􀁺"
    }
    &.arrow-left-circle-filled::after {
      content: "􀁻"
    }
    &.add-circle::after, &.plus-circle::after {
content: "􀁌"
    }
        &.add-square::after, &.plus-square::after {
content: "􀃜"
    }
    &.minus-circle::after {
      content: "􀁎"
    }
        &.minus-square::after {
      content: "􀃞"
    }
    &.settings::after, &.gear::after, &.cog::after {
content: "􀍟"
    }
    &.account::after, &.person-circle::after {
      content: "􀓣"
    }
        &.account-fill::after, &.person-circle-fill::after {
      content: "􀓤"
    }
    &.play::after {
      content: "􀊃"
    }
       &.house::after {
      content: "􀎞"
    } 
      &.house-fill::after {
      content: "􀎟"
    }
           &.music-house::after {
      content: "􀒼"
    } 
      &.music-house-fill::after {
      content: "􀒽"
    }
  }